<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{entry.title}}</h2>
    <p>Written by {{entry.author}}</p>
    <p>{{entry.date}}</p>
    <button class="btn btn-xs detail" {{action 'delete' entry}}>Delete</button><br>
    {{update-entry entry=model update="update"}}
  </div>
    <img class="entryDetail pull-xs-left" src={{entry.image}}>
    <p class="entryContent">{{entry.content}}</p>
  <div class="panel-footer">
    <ul>
      {{#each entry.comments as |comment|}}
        {{comment-tile comment=comment entry=model destroyComment="destroyComment"}}
      {{/each}}
    </ul>
  </div>
</div>
